{% extends '::base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		<div class="col-md-5 col-md-offset-1 left">
			<img class="img-style-3" src="{{ asset('uploads/film/' ~ movie.folder ~ '') }}">
		</div>
		<div class="col-md-5">

			<h2>{{ movie.titre }}</h2>
			<hr>
			<p>{{ movie.description }}</p>
			
		</div>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-12">
			<h2>Commentaires : </h2>
			<hr>
			{# {% for comment in comments %}
        		{{ comment.comment }}
    		
    		{% endfor %} #}
			
			<h3>Ajouter un commentaire</h3>
				{{ form_start(Form) }}
            <div class="form-group">
                {{ form_errors(commentForm.comment) }}
                {{ form_widget(commentForm.comment, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Commenter ici!'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publier votre commentaire" />
            </div>
        {{ form_end(Form) }}

			
		</div>
	</div>

{% endblock %}